{% extends 'base.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1 class="display-4 text-danger">Access Denied</h1>
    <p class="lead">Your account has been banned. If you believe this is an error, please contact the administrator.</p>
</div>
{% endblock %}