{% extends 'base.html.twig' %}

{% block title %}{{ button_label|default('New') }} Restaurant{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">{{ button_label|default('Create New') }} Restaurant</h1>

    <div class="mb-3">
        {{ include('restaurant/_form.html.twig', {'button_label': button_label|default('Save')}) }}
    </div>

    <a href="{{ path('app_restaurant_index') }}" class="btn btn-secondary">Back to list</a>
</div>
{% endblock %}
