{% extends 'base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Edit Menu</h1>

    <div class="mb-3">
        {{ include('menu/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a href="{{ path('app_menu_index') }}" class="btn btn-secondary">Back to list</a>

    <div class="mt-3">
        {{ include('menu/_delete_form.html.twig', {'menu': menu}) }}
    </div>
</div>
{% endblock %}
