{% extends 'base.html.twig' %}

{% block title %}New Dessert{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Create New Dessert</h1>

    <div class="card bg-dark text-light shadow-lg">
        <div class="card-body">
            {{ include('dessert/_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('app_dessert_index') }}" class="btn btn-secondary mt-3">Back to list</a>
</div>
{% endblock %}
