{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Create New User</h1>

        <div class="mb-3">
            {{ include('user/_form.html.twig') }}
        </div>

        <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
{% endblock %}
